{% extends 'home.html.twig' %}
 {% block title %}<title>partenaires</title>{% endblock title %}
    {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock css %}
 
 
 
 {% block body %}
 {% for partenaires in partenaires %}
    
    <h2>Nom: {{ partenaires.name }}</h2>  
    <h3>Id: {{ partenaires.id }}</h3>
        
       
        <button type="submit" name"modifier_partenaire">Modifier partenaire</button>
        <button type="submit" name"activer_partenaire">Activier partenaire</button>
        <button type="submit" name"voir_partenaire"><a href="{{ path ('partenaire', {'id': partenaires.id}) }}" > Voir le partenaire sur le site </a> </button>     
    
    
    {% endfor %}
    {% endblock body %}