{% extends 'structures/base.html.twig' %}
{% block title %}<title>structure</title>{% endblock title %}
   {


   {% block body %}
 
    {% for structure in structure %}
        
    
    <h1>{{ structure.name }}</h1>  
    <h2>{{ structure.id }}</h2>
        
       
       
        <button type="submit" name"modifier_structure">Modifier structure</button>
        <button type="submit" name"activer_structure">Activier structure</button>
       
    {% endfor %}
    
    {% endblock body %}