{% extends 'home.html.twig' %}
  {% block title %}<title>page de confirmation d'envoi d'email</title>{% endblock title %}
 {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock css %}
 
 {% block body %}

 <div>
<h1>Bonjour, merci de confirmer votre adresse email afin d'activer votre compte</h1>

<p>
    clique ci-dessous pour confirmer<br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Cet email expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Envoyer!
</p>
</div>
 {% endblock body %}
