{% extends 'admin/base.html.twig' %}


   {% block css %}<link rel="stylesheet" href="{{ asset ("assets/css/style.css") }}"/>{% endblock css %}
    {% block title %}<title>Admin Tableau de bord</title>{% endblock %}
  
 
{#message d'acceuil quand connecté#}

{% block flash %}
{% for message in app.flashes('success') %}

{{message}}
{% endfor %}
{% endblock flash %}






{% block body %}

<div class="admin-menu mt-5"><h1  id="bonjour"> Bonjour et bienvenue {{app.user.username}} </h1></div>

<div class="mt-4">
<p class="homeadmin">Ceci est votre espace d'administration, Vous pourrez gerer vos partenaires ainsi que leurs structures.<br>
<STRONG>Si le moindre problème survient au sein de l'application vous pourrez nous contacter et obtenir de l'aide dans les meilleurs délais  par téléphone au 0820820820.</STRONG>

</div>
{% endblock body %}







          