{% extends 'base.html.twig' %}
{% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock  %}
    {% block title %}<title>Admin Tableau de bord</title>{% endblock %}
  
  
{% block header %}{% endblock %}
{% block menu %}{% endblock  %}

 

{% block body %}{% endblock body %}
{% block retour %}{% endblock retour %}

 
        
{% block form %}{% endblock form %}

{% block login %}{% endblock login %}

{% block search %}{% endblock search %}