{% extends 'admin/base.html.twig' %}
{% block title %}
	<title>
		partenaire
	</title>
{% endblock title %}
{% block css %}
	<link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>
{% endblock css %}




{% block flash %}

{% for message in app.flashes('success') %}
{{message}}
{% endfor %}

{% endblock flash %}
{% block body %}

{% for partenaire in partenaires %}

	<h1 class="text-capitalize">
		{{ partenaire.name }}
	</h1>
	<h2 class="text-capitalize">
		{{ partenaire.id }}
	</h2>


	
		<button class="btn btn-dark" type="submit" name"modifier_partenaire">
			<i class="fa fa-pencil" aria-hidden="true"></i>

			Modifier partenaire
		</button>
		<button class="btn btn-dark" type="submit" name"activer_partenaire">
			Activier partenaire
		</button>
	
{% endfor %}

{% endblock body %} 
