{% extends 'admin/base.html.twig' %}
{% block stylesheet %}{% endblock stylesheet %}
{% block title %}
	<title>
		Admin Tableau de bord
	</title>
{% endblock %}



{% block flash %}
{% for message in app.flashes('success') %}
{{message}}
{% endfor %}
{% endblock flash %}



{% block body %}
{{ form(partFormActive) }}
	{% endblock body %}

	{% block javascript %}{% endblock javascript %}

