 {% extends 'base.html.twig' %}
 {% block title %}<title>partenaire</title>{% endblock title %}
    {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock css %}
 
 
 
 {% block body %}
 
    
    <h1>{{ partenaire.name }}</h1>  
    <h2>{{ partenaire.id }}</h2>
        
       
        {% block form %}  
        <button type="submit" name"modifier_partenaire">Modifier partenaire</button>
        <button type="submit" name"activer_partenaire">Activier partenaire</button>
        {% endblock form %}    
    
    
    
    {% endblock body %}