{% extends 'admin/base.html.twig' %}
{% block title %}
	<title>
		Interface de gestion des permissions par défaut
	</title>
{% endblock title %}
{% block css %}
	<link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>
{% endblock css %}

{% block header %}
	<header id="header">

		<h1 id="titre_admin_partenaires">
			Administrer les permissions
		</h1>

	</header>
{% endblock header %}

{#button pour avoir la listes des partenaires#}
{% block buttonpartenaires %}
	<button class="btn btn-dark" type="btn">
		<a href="{{ path ('admin_partenaires') }}">
			Partenaires
		</a>
	</button>
{% endblock buttonpartenaires %}
{#button pour avoir la listes des structures#}
{% block buttonstructures %}
	<button class="btn btn-dark" type="btn">
		<a href="{{ path ('admin_structures') }}">
			Structures
		</a>
	</button>
{% endblock buttonstructures %}


{% block body %}
	{{ form(permissionsform)}}
	{% endblock body %}
