{% extends 'admin/base.html.twig' %}
{% block title %}<title>structure</title>{% endblock title %}
   {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock css %}

{#button pour avoir la listes des partenaires#}

{% block flash %}
{% for message in app.flashes('success') %}
{{message}}
{% endfor %}
{% endblock flash %}


   {% block body %}
{#formulaire avec builder#}


{{ form(form) }}

{% endblock body %}
{% block javascript %}{% endblock javascript %}