{% extends 'admin/base.html.twig' %}
{% block title %}<title>structure</title>{% endblock title %}
   {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock css %}

{#button pour avoir la listes des partenaires#}
{% block buttonpartenaires %}
	<button class="btn btn-dark" type="btn">
		<a href="{{ path ('admin_partenaires') }}">
			Partenaires
		</a>
	</button>
{% endblock buttonpartenaires %}
{#button pour avoir la listes des structures#}
{% block buttonstructures %}
	<button class="btn btn-dark" type="btn">
		<a href="{{ path ('admin_structures') }}">
			Structures
		</a>
	</button>
{% endblock buttonstructures %}
   {% block body %}
{#formulaire avec builder#}




{% endblock body %}