{% extends 'admin/base.html.twig' %}
  {% block title %}<title>Enregistrement d'utilisateur</title>{% endblock title %}
  {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock css %}

 
 



{% block flash %}
{% for message in app.flashes('success') %}
{{message}}
{% endfor %}
{% endblock flash %}





{% block body %} 
<button id="button-return-permissions">
	<a href="{{ path ('admin_users') }}"> Retour liste</a>
</button>
<div class=" form-control-lg mx-auto row g-3">
  <h1> Ajouter un utilisateur</h1>
{{ form(registrationForm) }}

</div>

{% endblock body %}
{% block javascript %}{% endblock javascript %}