{% extends 'base.html.twig' %}
  {% block title %}<title>Interface de gestion de partenaires</title>{% endblock title %}
 {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock css %}

 
 

{% block header %}{% endblock header %}
{% block form %} {% endblock form %}


{% block body %} {{ path ('admin_register')}} {% endblock body %}
 