{% extends 'base.html.twig' %}
   {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock  %}
    {% block title %}<title>Résultat de recherche structure</title>{% endblock %}
 
 
    
  {% block resultatstructure %}       
      {% for structure in structure %}
    
    <h2>Nom: {{ structure.name }}</h2>  
    <h3>Id: {{ structure.id }}</h3>
        
       
        <button type="submit" name"modifier_partenaire">Modifier structure</button>
        <button type="submit" name"activer_partenaire">Activier structure</button>
        <button type="submit" name"voir_partenaire"><a href="{{ path ('structure', {'id': structure.id}) }}" > Voir sur le site </a> </button>     
    
        {% endfor %}
        {% endblock resultatstructure %}  
   