@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: white;
	
    
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	padding-bottom: 5%;
	color: #ECA72C;
	
	
}

:visited,
:active{
	color: grey;
}
:link{
text-decoration:   none;
color: white;
}
/*style form contact*/
textarea{
	resize: none;
}

.formContactDetail{
	background: linear-gradient(45deg, yellow, darkblue);
	border-radius: 5%;
	color: aliceblue;
	
}


#formLogin{
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 25%;
	margin-right: 25%;
	display: flex;
  	flex-direction: column;
	justify-content: center;
  	min-height: 100vh;
	max-width: 50%;
	background: rgb(1,22,39);
	background: linear-gradient(13deg, rgba(1,22,39,1) 0%, rgba(255,159,28,1) 55%);
	border-radius: 2%;
	color: white;
	border:solid 2px #FDFFFC;
	margin-bottom: 20%;
	
	
}
/* responsive form login*/

 @media screen and (max-width: 991px) { 
	#formLogin{
		margin:0;
		max-width: 100%;
		
	 } }
 

#buttauth{

	background-color: black;
	position: relative;
  	letter-spacing: 2px; 
	text-align: center;
  	text-transform: uppercase;
  	color: white;
  	transition-duration: inherit;
  	border-image: linear-gradient(#FF9F1C, #011627) 30;
	border-width: 4px;
	border-style: solid;
	
}


#buttpass
{
	background-color: black;
	position: relative;
  	letter-spacing: 2px; 
	text-align: center;
  	text-transform: uppercase;
  	color: white;
  	transition-duration: inherit;
  	border-image: linear-gradient(#FF9F1C, #011627) 30;
	border-width: 4px;
	border-style: solid;
}



.login-h1{
	margin-bottom: 10%;
	color: black;
}


.formContactDetail{
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 25%;
	margin-right: 25%;
	padding-top: 10%;
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
	max-width: 50%;
	background: rgb(1,22,39);
	background: linear-gradient(13deg, rgba(1,22,39,1) 0%, rgba(255,159,28,1) 55%);
	border-radius: 2%;
	color: white;
	border:solid 2px #FDFFFC;
	margin-bottom: 20%;
	justify-content: center;

}
@media screen and (max-width: 991px) { 
	.formContactDetail{
		margin:0;
		max-width: 100%;
		
	 } }

.titrecontact{
	padding-bottom: 15%;
	color: black;
}
#btn-form-contact{
	border-image: linear-gradient(#FF9F1C, #011627) 30;
	margin-bottom:10%;
}
footer{
	background-color: black;
	height: 10%;
}

.cardstructure{
	margin-right: 5%;
	margin-left: 5%;
	background-color: #ECA72C;
	border: solid 2px, #221E22;
	height: 100%;

	
}

.card-title{
	font-size:larger ;
	font-weight: bold;
	text-align: center;
	color: #011627;
}

.navbar{
	background-color: #221E22;
}

.card{
	margin-right: 5%;
	margin-left: 5%;
	background-color: #ECA72C;
	
	border: solid 2px, #221E22;
	height: 100%;

}
#card-text-partenaire{
	color: #011627;
}
#card-text-structure{
	color: #011627;
}

#img-card-connecte{
	border-radius: 8%;
	margin-left: 25%;
	border: solid 2px yellow;
	height: 150PX;
	
}
@media screen and (max-width: 991px) { 
	#img-card-connecte{
		margin:0;
		padding: 0;
		
	 } }

	footer{
		background-color: black;
		margin-top: 10%;
	 }
	 .navbar-toggler-icon{
	border:#FF9F1C;
	 }

	.navbar{
		-webkit-box-shadow: 0px 9px 17px -7px rgba(255,159,28,0.59); 
box-shadow: 0px 9px 17px -7px rgba(255,159,28,0.59);
	 }

	 #btn-search{
		background-color: #011627;
	 }
	 #icon-search{
		color: #ECA72C;
	 }	 