{% extends 'home.html.twig' %}

{% block contact %}

    <form class="form-control" action="{{ path('contact') }}" method="post">
        <label class="form-label"for="firstName">Prénom</label>
        <input class="form-control" type="text" name="firstName">
        <label class="form-label" for="lastName">Nom</label>
        <input class="form-control" type="text" name="lastName">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="text" name="email">
        <label class="form-label" for="message">Message</label>
        <textarea class="form-control" name="message"></textarea>
        <input class="btn btn-primary"type="submit">
    </form>

{% endblock contact %}