{% extends 'base.html.twig' %}

{% block contact %}



    <form class="formContactDetail" action="{{ path ('contact') }}" method="post">
        <i class="bi bi-envelope-check-fill"></i>
        <h1 class="titrecontact"> Contacter l'adiministrateur</h1>
        
        
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="text" name="email">
        <label class="form-label mt-3" for="message">Message</label>
        <textarea class="form-control" name="message" rows="10" cols="33"></textarea>
        <input id="btn-form-contact"class="btn btn-dark mt-4"type="submit">
    </form>

{% endblock contact %}
{% block javascript %}{% endblock javascript %}