{% extends 'base.html.twig' %}



    {% block title %}<title>Liste des partenaires et de leur structures</title>{% endblock title %}
    
    {% block main %} <h1>Liste des partenaires</h1> 
    {% endblock main %}
