{% extends 'base.html.twig' %}

 {% block title %}<title>HOME PAGE</title>{% endblock title %}
    {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock css %}
 


{% block body %}
<h1>{{ app.user.email }}</h1>
<h2>{{ app.user.categorie}}</h2>
{{ app.user.partenaire_id.name }}



{% if app.user.categorie == 1   %}
<p>Bonjour Partenaire</p>
    
{% else %}
    <p>Bonjour structure</p>
{% endif %}


{% endblock body %}


