{% extends 'base.html.twig' %}
{% block title %}<title>Authentification</title>{% endblock title %}
{% block body %}




{% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

      
<div class="container mt-5 mx-auto containLogForm">
   <form class="form-control mt-4 mx-auto" id="formLogin" action="{{ path ('login') }}" method="post">
    <h1 class="login-h1 mt-4 "> Merci de vous authentifier </h1>
        <label class="text-bold form-label " for="username"id="label_username">Email:</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
    
        <label class="text-bold form-label" for="password" id="label_password" >Password:</label>
        <input class="form-control"type="password" id="password" name="_password"/>
    
        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/"/>#}

        <button class="btn btn-dark mt-4" type="submit">Authentification</button>
        <a class="btn btn-dark mt-4"href="{{ path ('passe_oublie') }}"> Mot de passe oublié </a>
        
    </form>
</div>


{% endblock %}