{% extends 'base.html.twig' %}

 {% block title %}<title>logout</title>{% endblock title %}
    {% block css %} <link rel="stylesheet" href="{{ asset ("assets/css/autre.css") }}"/>{% endblock css %}
 


{% block body %}
<p>A bientot </p>


{% endblock body %}
{% block javascript %}{% endblock javascript %}