 {% extends 'base.html.twig' %}
 
 {% block body %}
 
    
    <h2>Nom: {{ partenaire.name }}</h2>  
    <h3>Id: {{ partenaire.id }}</h3>
        
       
        <button type="submit" name"modifier_partenaire">Modifier partenaire</button>
        <button type="submit" name"activer_partenaire">Activier partenaire</button>
            
    
    
    
    {% endblock body %}