{% extends 'base.html.twig' %}
  {% block title %}<title>Interface de gestion des permissions par défaut</title>{% endblock title %}
  		{% block select2 %}{% endblock select2 %}	

 
 
 {% block header %}
 <header id="header">
        
                <h1 class="mt-4"id="titre_admin_partenaires">Rechercher un partenaire ou une structure</h1>
           
    </header>     
{% endblock header %}
    
{% block recherche %}
<div class="col-6 mx-auto mt-4">
{{ form_start (form) }}

    {{ dump(partenaire) }}


{{ form_widget (form) }}
{{ form_end (form) }}
</div>
{% endblock recherche %}
      
 {% block body %} 


{% endblock body %}

{% block javascript %}
<script>$(document).ready(function() {
    $('.select2').select2();
});</script>
{% endblock javascript %}