
{% extends 'base.html.twig' %}
 
 {% block body %}
    
    
        
      {% for partenaire in partenaires %}
    
    <h2>Nom: {{ partenaire.name }}</h2>  
    <h3>Id: {{ partenaire.id }}</h3>
        
       
        <button type="submit" name"modifier_partenaire">Modifier partenaire</button>
        <button type="submit" name"activer_partenaire">Activier partenaire</button>
        <button type="submit" name"voir_partenaire"><a href="{{ path ('partenaire', {'id': partenaire.id}) }}" > Voir le partenaire sur le site </a> </button>     
    
        {% endfor %}
        
    {% endblock body %}